## 逻辑回归评分卡模型

In [1]:
%pwd

'D:\\Documents\\MyProjects\\DataAnalysis\\Practice'

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [6]:
data = pd.read_csv('rankingcard.csv')

In [8]:
data.head()

,index,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [9]:
# 第一列是原来导出的index，可以删除
data.drop('index', axis=1, inplace=True)
data.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

检查重复值

In [11]:
data.shape

(150000, 11)

In [15]:
# 查看哪些行是重复的
# keep=False表示标识出所有的重复值，而不是只标识除第一个以外的值
dup_index = data.duplicated(keep=False)
# type(dup_index)
dup_index[dup_index]

52        True
331       True
530       True
1250      True
1669      True
          ...
149139    True
149431    True
149472    True
149769    True
149993    True
Length: 960, dtype: bool

In [17]:
# 重复的行数，这里包括的重复值本身
dup_index.sum()

960

删除重复值

In [18]:
data.drop_duplicates(inplace=True)
data.shape

(149391, 11)

检查缺失值

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149391 entries, 0 to 149999
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      149391 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  149391 non-null  float64
 2   age                                   149391 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  149391 non-null  int64
 4   DebtRatio                             149391 non-null  float64
 5   MonthlyIncome                         120170 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       149391 non-null  int64
 7   NumberOfTimes90DaysLate               149391 non-null  int64
 8   NumberRealEstateLoansOrLines          149391 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  149391 non-null  int64
 10  NumberOfDependents                    145563 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 13.7 MB

In [24]:
# 检查每个特征的缺失值数量
data.isnull().sum()

SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29221
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3828
dtype: int64

In [23]:
# 检查每个特征的缺失值占比
data.isnull().mean()*100

SeriousDlqin2yrs                         0.000000
RevolvingUtilizationOfUnsecuredLines     0.000000
age                                      0.000000
NumberOfTime30-59DaysPastDueNotWorse     0.000000
DebtRatio                                0.000000
MonthlyIncome                           19.560081
NumberOfOpenCreditLinesAndLoans          0.000000
NumberOfTimes90DaysLate                  0.000000
NumberRealEstateLoansOrLines             0.000000
NumberOfTime60-89DaysPastDueNotWorse     0.000000
NumberOfDependents                       2.562403
dtype: float64

从上面可以看出，MonthlyIncome和NumberOfDependents这两个特征有缺失值。  
月收入这个指标缺失值占比较高，但是不能随便删除；  
家庭