In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# 检查特征取值的平衡问题

In [14]:
t1 = np.array([[1,0],[1,1]])
t1

array([[1, 0],
       [1, 1]])

In [15]:
t2 = np.tile(t1, (2,1))
t2

array([[1, 0],
       [1, 1],
       [1, 0],
       [1, 1]])

In [37]:
def rep(n):
    """
    这个函数用于创建一个 shape 为 (n*5*2, 2)的数组，第一列是从 1 到 n, 每个值重复10次，其中每 5 次对应于第二列的0，另外5次对应于第二列的1
    """
    result = np.empty((1,2))
    for i in range(n):
        t = np.tile( np.array([[i+1,0], [i+1,1]]), (5,1) )
        result = np.vstack((result,t))
    return result[1:,:]

In [42]:
data = pd.DataFrame(rep(5), columns=['x','y'])
data.head()

     x    y
0  1.0  0.0
1  1.0  1.0
2  1.0  0.0
3  1.0  1.0
4  1.0  0.0

In [61]:
data.groupby(['x','y'])['y'].count()
# 或者
# data.groupby(['x','y']).size()
# 但是不能使用下面这个
# data.groupby(['x','y']).count()

x    y
1.0  0.0    5
     1.0    5
2.0  0.0    5
     1.0    5
3.0  0.0    5
     1.0    5
4.0  0.0    5
     1.0    5
5.0  0.0    5
     1.0    5
Name: y, dtype: int64

+ 相关系数显示：x和y是完全没有线性关系的

In [43]:
data.corr()

     x    y
x  1.0  0.0
y  0.0  1.0